:root {
    --background: #000000;
    --color: #c2c2df;
    --pacman: #ffee00;
    --ghost-red: #ff0000;
    --ghost-pink: #ffb8ff;
    --ghost-cyan: #00ffff;
    --ghost-orange: #ffb851;
    --walls: #1919A6;
}

#pacman *, #pacman *:after, #pacman *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pacman {
    width: max-content;

    display: flex;
    flex-direction: column;
    color: var(--color);
    background-color: var(--background);
}

#pacman .pacman-scoreboard {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 24px;
}

#pacman .pacman-game {
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);
}

.wall, .floor {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wall {
    background-color: var(--walls);
}

.bonbon, .mega-bonbon {
    background-image: url("/assets/img/bonbon.gif");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
}

.mega-bonbon {
    background-size: 100%;
}

.pacman {
    background-image: url("/assets/img/pacman.gif");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
}

.pacman-down {
    transform: rotate(90deg);
}

.pacman-right {
    transform: rotate(0deg);
}

.pacman-up {
    transform: rotate(-90deg);
}

.pacman-left {
    transform: rotate(180deg);
}